{% extends "base.html" %}

{% block content %}
<h2>Товари</h2>

<table border="1">
<tr>
    <th>Назва</th>
    <th>Категорія</th>
    <th>Рік</th>
    <th>Ціна</th>
    <th>Стан</th>
    <th>Дія</th>
</tr>

{% for item in items %}
<tr>
    <td>{{ item.name }}</td>
    <td>{{ item.category }}</td>
    <td>{{ item.year }}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.condition }}</td>
    <td>
    <a href="/edit/{{ item.id }}">Редагувати</a> |
    <a href="/delete/{{ item.id }}">Видалити</a>
</td>
</tr>
{% endfor %}
</table>

{% endblock %}